<div class="layout">
  <div class="containerIndex">
    <div>
      <div class="titleContainer">
        <a href="/" class="title">Bienvenido a El Bodegon!</a>
      </div>
    </div>
    <div class="containerOptions">
      <div> Nombre <input type="text" id="nameProduct"></div>
      
      <div class="numberPage"> Pagina {{ productResult.currentPage }}/{{ productResult.totalPages }} </div>
      
      <div>Ordenar <select name="select">
        <option value="asc" selected>Ascendente</option>
        <option value="des" >Descendente</option>
      </select></div>
      <button>Listar</button>
    </div>
   
  </div>
   <div class="containerProducts">
      {{#if productResult.hasPrevPage}}
        <a class="buttonPage" href="{{ productResult.prevLink }}"><</a>
      {{else}}
       <a class="buttonPage"></a>
      {{/if}}
    
      <div class="containProducts" id="containProducts">
        {{#each productResult.payload }}
          <div class="producto">
            <h2> {{this.nombre}} </h2>
            <div>
              <p> Bodega: {{this.bodega}} </p>
              <p> Tipo: {{this.tipo}} </p>
              <p> Variedad: {{this.variedad}} </p>
              <p> Año: {{this.año}} </p>
            </div>
            <h3> Precio: ${{this.precio}},00 </h3>
            <button id="addToCartBtn" data-id="{{this._id}}" data-name="{{this.nombre}}" data-price="{{this.precio}}">Agregar al carrito</button>
          </div>
        {{/each}}
      </div>
    
    {{#if productResult.hasNextPage}}
         <a class="buttonPage" href="{{ productResult.nextLink }}">></a>
          {{else}}
       <a class="buttonPage"></a>
      {{/if}}
    
  </div>
  <script src="/js/productos.js"></script>

</div>